.features{
    animation:features 1s ease-in-out;
}

@keyframes features {
    from{
        opacity: 0;
        transform: scale(0.3);
    }to{
        opacity: 1;
        transform: scale(1);
    }
}