.promoting {
    animation: scrolling 1s ease-in-out both;
    animation-timeline: view(90% 20%);
    color: white;
}

@keyframes scrolling {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
        color: white;
    }
}
